<h3>{{viewTitle}}</h3>

<form>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="fullName" placeholder="Title">
  </div>
  <div class="form-group">
    <label>Description</label>
    <input type="text" class="form-control" name="description" placeholder="Description">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="fullName" placeholder="Title">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="fullName" placeholder="Title">
  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="fullName" placeholder="Title">
  </div>
</form>